{% extends 'admincall.html' %}
{% block nav %}
{% endblock %}
{% block side %}
<li class="nav-item menu-open">
    <a href="#" class="nav-link active">
      <i class="nav-icon fas fa-edit"></i>
      <p>
        Side Menu
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="ahome" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Home</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="location" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Add Locations</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="turfs" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Add Turfs</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="vlocat" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>View Locations</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="vturf" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>View Turfs</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="vmanager" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>View Managers</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="vamanager" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>View Approved Managers</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="vuserbook" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>View User Bookings</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="vfeedback" class="nav-link active">
          <i class="far fa-circle nav-icon"></i>
          <p>View Feedbacks</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="vusers" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>View Users</p>
        </a>
      </li>
    </ul>
  </li>
{% endblock %}
{% block main %}
<!-- /.row -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">User Feedback</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0" style="height: 400px;">
        <table class="table table-head-fixed text-nowrap">
          <thead>
            <tr>
              <th>Feedback ID</th>
              <th>User Name</th>
              <th>User Email</th>
              <th>Feedback Subject</th>
              <th>Feedback Message</th>
            </tr>
          </thead>
          <tbody>
            {% for i in vuf %}
              <tr>
                  <td>{{i.id}}</td>
                  <td>{{i.Feedback_Name}}</td>
                  <td>{{i.Feedback_Email}}</td>
                  <td>{{i.Feedback_Subject}}</td>
                  <td>{{i.Feedback_Message}}</td>
              </tr>
            {% endfor %}
          </tbody>
          </table>
      </div>
      <!-- /.card-body -->
      </div>
      <!-- /.card -->
      </div>
      </div>
{% endblock %}